<!DOCTYPE html>
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-widt, user-scalable=no, initial-scala=1.0,maximum-scale=1.0,minimum-scale=1.0")
		meta(name="author", content="Scala Studio")
		meta(name="description", content="Diseño web, publicidad, hosting, software, marketing digital")
		link(rel="stylesheet", href="css/reset.css")
		link(rel="stylesheet", href="css/style.css")
		link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
		title Scala Studio
	body
		.contenedor
			#logo
				img(src="img/logo.png", alt="Scala Studio")
		.contenido
			#texto
				p Somos
				ul
					li <strong>publicidad</strong>
					li <strong>hosting</strong>
					li <strong>software</strong>
					li <strong>marketing</strong>
					li <strong style="color:#FF9000;">Scala Studio</strong>
			#info
				center
					h2 En <strong>Scala Studio Tacna</strong> estamos preparando algo grande...
				p
					i.ion-android-mail &nbsp;E-mail: contacto@scala.pe
				p
					i.ion-ios-telephone &nbsp;Teléfono: (052) 612958
				p
					i.ion-android-pin &nbsp;Dirección: Avenida 2 de mayo #889 Int. 316, Tacna
			#social
				span
					a(href="https://facebook.com/scalaperu" target="_blank") Facebook
				span
					a(href="#") Twitter
				span
					a(href="#") LinkedIn
